@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Slab:wght@300;400;800&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1em;
	color: #222222;
	text-align: center;
}

p {
	font-family: 'Roboto Slab', serif;
	font-weight: 200;
	font-size: 1em;
	line-height: 1.5em;
	text-align: left;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:	3em;
	text-align:	center;
	color:	#E86F7B;
	margin:	2em auto;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: 400; 
	text-align: center;
	margin: 1em auto;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	color: #E86F7B;
	font-size: 1.5em;
	text-align: center;
}

hr {
	border: none;
	height: 3px;
	background-color: #E86F7B;
	width: 4em;
	margin: 1em auto;
}

a {
	color: #E86F7B;
	text-decoration: none;
}

nav {
	text-align: center;
/*	float: right;*/
}

nav a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1em;
	padding: 0 32px;
	color: #222222;
	letter-spacing: 2px;
	text-align: center;
}

img {
	width: 100%;
}

main {
	padding: 20px;
}

footer {
	background-color: #cccccc;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #222222;
	padding: 20px;
	text-align: center;
}

footer p {
	text-align: center
}

ul {
	padding: 30px;
	text-align: center;
}

.about {
    padding: 20px;
    float: left;
    background-color: #cccccc;

}

/*#left {
    padding: 20px;
    float: left;
    width: 62%;
    text-align: center;
}*/

.testimonials {
    padding: 20px;
    float:left;   
    text-align: center;
}

.testimonials img{
	max-width: 180px;
	display: block;
	margin:auto;
	border-radius: 50%;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:" ";
	display: block;
	clear:both;
}

.wrapper{
/*	background-color: purple;*/
	width: 90%;
	margin: auto;
}

.skills{
	width:30%;
	margin:1%;
	float:left;
/*	background: orange;*/
}

.skills img{
	max-width: 250px;
	display: block;
	margin:auto;
	border-radius: 50%;
}

#lander{
	background:url(../images/hero_image_hp.jpg) no-repeat center center scroll;
	background-size: cover;
	height:750px;
	padding:20px 0;
}