* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
}

header {
	background-color: #E86F7B;
	padding: 20px;
	text-align: center;
}

h1 {
	color: #222222;
}

h2 {
	font-style: italic;
}

a {
	color: #E86F7B;
	text-decoration: none;
}

nav a {
	color: #cccccc;
	margin-right: 20px;
}

img {
	width: 100%;
}

main {
	padding: 20px;
}

footer {
	background-color: #cccccc;
	font-family: "Courier New", serif;
	color: #222222;
	padding: 20px;
	text-align: center;
}

h4 {
	color: #E86F7B;
	font-size: 20px;
	font-style: italic;
}

ul {
	padding: 30px;
}

